<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Cards demo">
		<meta name="author" content="Paolo Lacdao">
		<title>Task Board</title>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles/cards.css">
		<script src="lib/jquery.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body ng-app="taskboard" ng-controller="TaskboardController">
		<!-- Start: How To Modal -->
		<div class="modal fade" id="aboutAppModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
						<span class="h3">How to use this application</span>
					</div>
					<div class="modal-body">
						<p>
							<span class="text-primary">Task Board</span> is a task list application with simple status 
							tracking. Listed tasks can be grouped into three categories based on status (Backlog, To Do, Done).
						</p>
						<p>
							The <strong>Add Card</strong> button adds tasks into the list. You can type in
							a title to replace the default text provided. New tasks are created into the Backlog.
						</p>
						<p>
							<strong>Task editing.&nbsp;</strong>You can modify tasks in the following ways:
							<ol>
								<li>Change its title.</li>
								<li>Change its background color.</li>
								<li>Drag it to the <strong>To Do</strong> or <strong>Done</strong> columns.</li>
								<li>Put the task to the trash container.</li>
							</ol>
						</p>
						<p>
							The <strong>Clear All</strong> button provides a mechanism for moving all tasks to the trash 
							container. You will be asked to confirm this operation.
						</p>
						<p>
							The <strong>Trash</strong> button provides access to any trashed items. You can restore or
							permanently delete individual items, as well as purge the trash container to remove all items
							inside.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End: How To Modal -->
		<!-- Start: Page content -->
		<div class="container">
			<header>
				<h2 class="text-primary">Task Board</h2>
				<ul class="nav nav-pills">
					<li class="btn btn-md btn-primary" ng-click="addCard()">Add Card</li>
					<li class="btn btn-md btn-danger {{cards.backlog.length === 0 && cards.inProgress.length === 0 && cards.done.length === 0 ? 'disabled' : ''}}" data-toggle="{{cards.backlog.length === 0 && cards.inProgress.length === 0 && cards.done.length === 0 ? '' : 'modal'}}" data-target="#confirmDeleteAllModal">Clear All Cards</li>
					<li class="btn btn-md btn-default" data-toggle="modal" data-target="#aboutAppModal">How To</li>
				</ul>
			</header>
			<div class="row">
				<div class="col-sm-4">
					<h4>Backlog</h4>
					<div class="card-contents" dnd-list="cards.backlog">
						<div ng-repeat="x in cards.backlog" class="card {{getBgColorClass(x.background)}}" card-directive dnd-draggable="x" dnd-moved="postDrag($index, 'backlog')">
							<label for="title" class="control-label">{{x.title}}</label>
							<div class="controls pull-right">
								<button class="btn btn-default btn-xs edit-card"  data-toggle="collapse" data-target="#backlog-collapse-{{$index}}">Edit</button>
								<button class="btn btn-danger btn-xs delete-card" ng-click="deleteCard($index,'backlog')"><span>&times;</span></button>
							</div>
							<div class="collapse" id="backlog-collapse-{{$index}}">
								<form id="backlog-form-{{$index}}">
									<div class="form-group">
										<label for="card-title-backlog-{{$index}}">Title</label>
										<input type="text" class="form-control" id="card-title-backlog-{{$index}}" value="{{x.title}}" />
									</div>
									<div class="form-group">
										<label for="card-bg-selector-backlog-{{$index}}">Background color</label>
										<select class="form-control" id="card-bg-selector-backlog-{{$index}}">
											<option value="white" ng-selected="x.background == ''">White</option>
											<option value="blue" ng-selected="x.background == 'blue'">Blue</option>
											<option value="yellow" ng-selected="x.background == 'yellow'">Yellow</option>
											<option value="red" ng-selected="x.background == 'red'">Red</option>
											<option value="green" ng-selected="x.background == 'green'">Green</option>
										</select>
									</div>
									<button type="submit" class="btn btn-default btn-update-backlog" id="update-backlog-{{$index}}" ng-click="updateCard($index,'backlog')">Update</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<h4>In Progress</h4>
					<div class="card-contents" dnd-list="cards.inProgress">
						<div class="card {{getBgColorClass(x.background)}}" ng-repeat="x in cards.inProgress" card-directive dnd-draggable="x" dnd-moved="postDrag($index, 'inProgress')">
							<label for="title" class="control-label">{{x.title}}</label>
							<div class="controls pull-right">
								<button class="btn btn-default btn-xs edit-card" data-toggle="collapse" data-target="#in-progress-collapse-{{$index}}">Edit</button>
								<button class="btn btn-danger btn-xs delete-card" ng-click="deleteCard($index,'inProgress')"><span>&times;</span></button>
							</div>
							<div class="collapse" id="in-progress-collapse-{{$index}}">
								<form>
									<div class="form-group">
										<label for="card-title-in-progress-{{$index}}">Title</label>
										<input type="text" class="form-control" id="card-title-inProgress-{{$index}}" value="{{x.title}}" />
									</div>
									<div class="form-group">
										<label for="card-bg-selector-inProgress-{{$index}}">Background color</label>
										<select class="form-control" id="card-bg-selector-inProgress-{{$index}}">
											<option value="white" ng-selected="x.background == ''">White</option>
											<option value="blue" ng-selected="x.background == 'blue'">Blue</option>
											<option value="yellow" ng-selected="x.background == 'yellow'">Yellow</option>
											<option value="red" ng-selected="x.background == 'red'">Red</option>
											<option value="green" ng-selected="x.background == 'green'">Green</option>
										</select>
									</div>
									<button type="submit" class="btn btn-default btn-update-inProgress" id="update-inProgress-{{$index}}" ng-click="updateCard($index,'inProgress')">Update</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<h4>Done</h4>
					<div class="card-contents" dnd-list="cards.done">
						<div class="card {{getBgColorClass(x.background)}}" ng-repeat="x in cards.done" card-directive dnd-draggable="x" dnd-moved="postDrag($index, 'done')">
							<label for="title" class="control-label">{{x.title}}</label>
							<div class="controls pull-right">
								<button class="btn btn-default btn-xs edit-card" data-toggle="collapse" data-target="#done-collapse-{{$index}}">Edit</button>
								<button class="btn btn-danger btn-xs delete-card" ng-click="deleteCard($index,'done')"><span>&times;</span></button>
							</div>
							<div class="collapse" id="done-collapse-{{$index}}">
								<form>
									<div class="form-group">
										<label for="card-title-done-{{$index}}">Title</label>
										<input type="text" class="form-control" id="card-title-done-{{$index}}" value="{{x.title}}" />
									</div>
									<div class="form-group">
										<label for="card-bg-selector-done-{{$index}}">Background color</label>
										<select class="form-control" id="card-bg-selector-done-{{$index}}">
											<option value="white" ng-selected="x.background == ''">White</option>
											<option value="blue" ng-selected="x.background == 'blue'">Blue</option>
											<option value="yellow" ng-selected="x.background == 'yellow'">Yellow</option>
											<option value="red" ng-selected="x.background == 'red'">Red</option>
											<option value="green" ng-selected="x.background == 'green'">Green</option>
										</select>
									</div>
									<button type="submit" class="btn btn-default btn-update-in-progress" id="update-done-{{$index}}" ng-click="updateCard($index,'done')">Update</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer>
				<div class="col-sm-4 nav">
					<button class="btn btn-warning {{cards.trashed.length == 0 ? 'disabled' : ''}}" data-toggle="{{cards.trashed.length == 0 ? '' : 'collapse'}}" data-target="#trash">Trash</button>
					<div id="trash" class="collapse">
						<div class="card {{getBgColorClass(x.background)}}" ng-repeat="x in cards.trashed track by $index" trash-directive>
							<label for="title" class="control-label">{{x.title}}</label>
							<div class="controls pull-right">
								<button class="btn btn-default btn-xs restore-card"  ng-click="restoreCard($index)">Restore</button>
								<button class="btn btn-danger btn-xs purge-card" ng-click="purgeCard($index)">Permanently delete</button>
							</div>
						</div>
						<button class="btn btn-danger btn-xs" ng-click="emptyTrash()">Permanently delete all items</button>
					</div>
				</div>
			</footer>
		</div>
		<!-- End: Page content -->
		<!-- Start: Modals -->
		<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<span class="h4">Confirm Delete</span>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to delete this card?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
						<button type="button" class="btn btn-danger">Yes</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirmDeleteAllModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<span class="h4">Confirm Clear All</span>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to clear the cards on the board?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
						<button type="button" class="btn btn-danger" ng-click="deleteAllCards()">Yes</button>
				</div>
			</div>
		</div>
		<!-- End: Modals -->
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-drag-and-drop-lists.min.js"></script>
		<script src="scripts/taskboard.js"></script>
	<body>
</html>