/* START: Global styles */
body {
	padding-top: 50px;
}

.container {
	max-width: 730px;
}

.container .jumbotron {
	padding-left: 0;
	padding-right: 0;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.btn-default {
	background-color: #fafbfc;
	border-color: #b4c5d5;
	color: #337ab7;
}

.btn-default:hover {
	border-color: #2e6da4;
	background-color: #286090;
	color: #fff;
}
/* END: Global styles */

/* START: Header bar styles */
.navbar {
	background: none;
	border: none;
	margin-bottom: 0;
}

a.navbar-brand {
	background: url('../images/logo.png');
	width: 180px;
	height: 50px;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	border: 1px solid #ccc;
	border-radius: 3px;
}

.dropdown > a {
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 3px;
}

ul.dropdown-menu {
	top: 0;
	right: 0;
	left: initial;
}

ul.dropdown-menu li {
	height: 35px;
}

.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
    height: 35px;
}
/* END: Header bar styles */

/* START: Main content styles */
.jumbotron {
	border: 1px solid #aaa;
	margin-bottom: 0;
	background-image: url('../images/sandiego.png');
	background-position: center bottom;
	background-repeat: no-repeat;
}

#forgot-password-link {
	display: inline-block;
	margin-top: 7px;
}

#forgot-password-link > a {
	text-decoration: none;
	color: #337ab7;
}

#forgot-password-link > a.form-has-error,
#forgot-password-link > a.form-has-error:visited {
	color: #ec7525;
}

#connect-rp {
	margin-top: 10px;
	margin-bottom: 10px;
}

#username.form-has-error {
	border-color: #e84c34;
	background-color: #fef9f8;
	background-image: url('../images/alerticon.png');
	background-position: right center;
	background-repeat: no-repeat;
}

#password.form-has-error {
	border-color: #e84c34;
	background-color: #fef9f8;
	background-image: url('../images/alerticon.png');
	background-position: right center;
	background-repeat: no-repeat;
}

.popover {
	background-color: #e9543d;
	border-radius: 0;
	border: none;
	color: #fff;
	left: 0!important;
}

.popover .arrow {
	left: 25% !important;
}

.popover.bottom > .arrow {
	border-bottom-color: #e9543d;
}

.popover.bottom > .arrow:after {
	border-bottom-color: #e9543d;
}

.vertical-center {
	padding-top: 100px;
	height: 200px;
	display: block;
}

#vertical-separator {
	background: url('../images/verticalbar.png') center top repeat-y;
}

#vertical-separator > .text {
	padding-top: 5px;
	padding-bottom: 5px;
	background: #eee;
	font-style: italic;
}

#pullout-row {
	min-height: 125px;
	padding-top: 15px;
	margin-right: 1px;
}

#pullout-handle {
	margin-top: 20px;
	margin-right: -1px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: white;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #fff;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#pullout-handle:hover {
	cursor: pointer;
}

#pullout-content {
	width: 250px;
	top: 0;
	right: 0;
	background-color: white;
	padding-left: 10px;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#pullout-content h4 {
	font-family: serif;
	font-style: italic;
	font-weight: bold;
}

#pullout-content #btn-reveal {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* END: Main content styles */

/* START: Footer styles */
footer small {
	color: #aaa;
}
/* END: Footer styles */