[class*="col-"] {
  padding: 5px;
}

.row {
	border: 1px solid #ccc;
	margin-top: 25px;
	margin-bottom: 25px;
}

.col-content {
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
	padding: 5px;
}

div.container h4 {
	padding-left: 10px;
	padding-right: 10px;
}

div.container div.card-contents {
	display: none;
	min-height: 40px;
}

div.container div.card-contents div.card,
#trash .card {
	padding: 5px 10px;
	border: 1px solid #eee;
	margin: 5px 0;
	clear: both;
}

div.container div.card-contents .controls {
	display: none;
	margin-top: 3px;
}

div.container div.card-contents .edit-input {
	display: none;
}

#trash {
	padding-top: 5px;
}